*{
    font-family: Arial, Helvetica, sans-serif ;
    font-size: large;
}
.wrapper{
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
}
.fakeHeader{
    height: 5vh;
    background-color: rgb(105, 105, 105);
    display: flex;
    justify-content: space-between;
}
.fakeHeader img{
    width: 25px;
    height: 25px;
}
.inf{
    width: 15%;
    display: flex;
    margin-left: 5vh;
    align-items: center;
    justify-content: space-evenly;
}
.location{
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 50vh;
    color: rgb(150, 150, 150);
    text-decoration: underline;
}
.user{
    width: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 20vh;
}
.user > select{
    width: 30%;
    height: 22px;
    color: white;
    background-color:rgb(105, 105, 105);
    border: 1px solid black;
    border-radius: 10px;
}
.user a{
    width: 30%;
    height: 20px;
    color: black;
    text-decoration: none;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    background-color: whitesmoke;
    text-align: center;
}
.mainHeader{
    height: 10vh;
    background-color: rgb(48, 48, 48);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.mainHeader img{
    width: 30vh;
    margin-left: 6vh ;
}
.mainHeader a{
    color: white;
    text-decoration: none;
    margin-right: 10vh;
}
.mainHeader a:hover {
    font-size: larger;
}
.basket{
    width: 12%;
    height: 45px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
}
.basket div{
    width: 40px;
    height: 40px;
    color:white;
    background-color: rgb(81, 81, 81);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50px;
    margin: 0 3px;
}
.basket img{
    width: 15px;
   
}
.basket button{
    width: 70%;
    height: 40px;
    border: none;
    border-radius: 50px;
    background-color: red;
    color: white;
}
.basket p{
    margin-left: 8px;
}